.venv
.idea
venv
dataset/
synthetic_data/*.pkl
.venv_svise

# Large synthetic datasets
SVISE/synthetic_dataset_validation/synthetic_*.npy
SVISE/synthetic_dataset_validation/synthetic_*.npz
SVISE/synthetic_dataset_validation/synthetic_*.pkl

# Slurm logs
SVISE/synthetic_dataset_validation/slurm-logs-*/
*.out
slurm-*.out

# System files & ZIPs
__MACOSX/
.DS_Store
*.zip
SVISE/synthetic_dataset_validation/.venv_pandas2/